Options -Indexes 
<Files config.php>

order deny,allow
deny from all
##allow from 98.110.240.226
allow from localhost
</Files>

<Files loginnow.php>

order deny,allow
deny from all
##allow from 98.110.240.226
allow from localhost
</Files>

<Files session.php>

order deny,allow
deny from all
##allow from 98.110.240.226
allow from localhost
</Files>