@charset "UTF-8";
body{
    background-color: #4d4d4d;
}

body#home header{
    height: 622px;
    background: url(../../images/bg1.png) no-repeat fixed;
    background-size: cover;
}

body#int header{
    height: 322px;
    background: url(../../images/bg1.png) no-repeat fixed;
    background-size: cover;
}

header img{
    position:relative;
    top:180px;
}

header .container{
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:100%;
}

header .title{
    color:white;
    display:none;
    text-align:center;
    position:relative;
    top:100px;
    border:1px solid white;
    border-radius: 4px;
    padding:20px 0;
    background-color: rgba(0, 0, 0, 0.5);

}

header a.title{
    padding:20px;
}

.navbar-default{
    background-image:none;
    background-color:rgba(0,0,0,0);
    border-radius:0;
    border-color:rgba(0,0,0,0);
    box-shadow: none;
    margin-top:-51px;
    margin-bottom:-1px;
}

.navbar-default .navbar-nav > li > a{
    color:white;
}

.navbar-default .navbar-nav > li > a:hover{
    color:white;
}

.navbar-default .navbar-nav > li:hover{
    background-color: #77273f;
}

.navbar-default .navbar-brand{
    color: white;
}

ul li.active2{
    background-color:#1eacba;
    color: white;
}

.affix{
    top:0;
    left:0;
    background: rgba(0,0,0,.75);
    z-index: 1;
    width: 100%;
}

.affix ul{
    padding-left:55px;
}

.affix ul.dropdown-menu{
    padding-left:0;
}

.topish{
    background-color: #1eacba;
    padding:60px 0 80px 0;
    color: white;
    font-weight: 300;
}

.topish h3{
    font-family: KavaPro;
    color: #1e395a;
    letter-spacing: 2px;
}

.btn-new{
    font-family: KavaPro;
    letter-spacing: 2px;
    font-size: 16px;
    color: #ffffff;
    border:1px solid white;
    background: none;
}

.btn-new:hover{
    background:rgba(0,0,0,.5);
    border:1px solid white;
    color: #1eacba;
}

div.cont{
    padding:50px 0 80px;
    background:white;
}

div.cont h1{
    font-family: KavaPro;
    color: #1e395a;
    letter-spacing: 5px;
    text-align: center;
}

.title{
    font-family: KavaPro;
}

body#int div.cont h1, .titles{
    font-family: KavaPro;
    color: #1e395a;
    letter-spacing: 5px;
    text-align: left;
}

.titles{
    letter-spacing: 2px;
    font-weight: bold;
}

.blueish{
    color: #1eacba;
}

.CTA{
    background-color: #77273f;
    color: white;
    padding:20px 0 5px;
}

.CTA p{
    font-family: Helvetica Neue;
    font-size: 27.61px;
    font-weight: 100;
}

footer{
    color: white;
    padding:30px 0 50px;
}

footer h3{
    color: #1eacba;
    font-family: KavaPro;
    letter-spacing: 2px;
    text-decoration: underline;
}

footer ul{
    padding-left:15px;
    list-style: none;
}

footer ul li{
    line-height: 26px;
}

footer ul li a{
    color: white;
}
