@charset "UTF-8";
a.eelgn{border:0;}
*{margin:0;padding:0;}
#eepanel{font-size:12pt;margin:0;padding:10px 10px 20px 10px;display:block;position:fixed;z-index:9999;top:-40px;border-bottom:1px solid #E4F0F4;background:#424242;width:100%;line-height:15px;font-family: 'open-sans', Arial, Helvetica, sans-serif;color:white;text-align:left;}
#eepanelWrap{display:none;padding:7px 10px 0 10px;}
#eepanel .ec{display:block;}
#eepanel .eeimg{margin:2px 4px 0 4px;float:left;display:block;}
#eepanel .eeimgs{margin:2px 4px 0 4px;float:right;display:block;position:relative;top:8px;}
#eepanel strong{font-weight:bold;color:#EEE;position:relative;top:9px;}
#eepanel em{font-style:italic}
#eepanel .dash{position:relative;top:9px;}
#eepanel option{color:#D02B2B;padding:1px 3px;}
#eepanel .small{font-size:80%}
#eepanel img{border:0;}
#eepanel a,#eepanel a:visited{font-weight:bold;border:0;}
#eepanel a:hover{font-weight:bold;color:#D02B2B;text-decoration:underline;border:0;}
#eepanel h1{padding:3px 0;margin:3px 0;letter-spacing:.05em;font-family:Verdana, Arial, Helvetica, sans-serif;}
#eepanel h2{padding:0 0 5px 0;line-height:1.5em;letter-spacing:.05em;font-family:Verdana, Arial, Helvetica, sans-serif;}
#eepanel p{line-height:15px;color:#000;padding:5px 0;}
#eelogout, #eelogin{display:none;font-size:1.1em;position:relative;}

#eeInit{ opacity:.2;cursor:pointer;transition: background-color, opacity .3s;color:#1EACBA;background-color:rgba(0,0,0,0);position:fixed;right:20px;bottom:20px;z-index:99999;padding:25px 30px;border-radius:50%; }
#eeInit:hover{ opacity:1;background-color:#424242; }
ul.ee_sideNav{ overflow:auto;padding-top:50px;left:-315px;top:0;background:white;position:fixed;width:315px;height:100%;z-index: 99999;list-style:none; }
ul.ee_sideNav li{ display:block;width: 100%; }
ul.ee_sideNav li a:hover{ background-color:rgba(0,0,0,.09); }
ul.ee_sideNav li a{ transition: background-color .3s;color:rgb(75,75,75);font-family: "open-sans",Helvetica,Arial,sans-serif;font-weight:bold;font-size:12pt;display:block;width:100%;padding:20px; }

/*=====================================================================================================*/

.customDialog{width:300px;padding-bottom:12px;font-family:Arial, sans-serif;text-align:center;}
.customDialog h1{margin:0 0 15px 0;border-bottom:1px solid #001932;padding:5px 8px;font-size:140%;color:#000;text-align:left;height:auto;left:0px;}
.customDialog .text{display:block;min-height:35px;margin:0 0 15px 0;padding-right:8px;padding-left:50px;background-image:url(img/dialog_choice.gif);background-repeat:no-repeat;background-position:8px 3px;text-align:left;}
.customDialog button{margin:0 5px;border:3px double #FFFFFF;border-right-color:#7F7F7F;border-bottom-color:#7F7F7F;padding:0 5px;background-color:#BBBCBC;background-image:url(img/dialog_button.gif);background-repeat:repeat-x;}
.customDialog img{display:block;float:right;}
.customDialog input{display:block;float:right;}
.customDialog label{display:block;font-weight:bold;float:left;margin:3px 0;clear:both;}
.customDialog form{background:none;border:0;padding:0;}
.customDialog fieldset{background:none;display:block;margin:5px 10px 0px 0;border:0;padding:0;}
.customDialog .warning{display:none;color:#D02B2B;margin:2px 0 8px 0;font-weight:bold;text-align:center;}
.customDialog .success{color:#25701D;}


/*=====================================================================================================*/

#eelogin .text{display:block;min-height:35px;margin:0 0 15px 0;padding-right:8px;padding-left:50px;background-image:url(img/ee-logo.png);background-repeat:no-repeat;background-position:8px 3px;text-align:left;}
#eesbt{display:block;font-weight:bold;float:left;margin:7px 0 0 57px;clear:both;}

/*=====================================================================================================*/

.emask{background:#A3DBF0 url(img/ajax-loader.gif) no-repeat center;display:block;position:absolute;z-index:10000;}
.emask2{background:#A3DBF0;display:block;position:absolute;z-index:10000;}
#eefiles,#eehelp,#eeinfo{display:none;position:absolute;top:50px;width:100%;z-index:-1;color:grey;}
.eedata{display:block;padding:20px;background:#F2FBFF;border-bottom:2px solid #92C1D3;min-height:250px;}
.eedata h1{color:#92C1D3;font-size:22px;border-bottom:2px solid #92C1D3;}
.eedata h2{color:#92C1D3;font-size:17px;padding:0 0 2px 0;margin:0 0 3px 0;border-bottom:1px solid #92C1D3;}
.eedata ul{margin-left:20px;}
.eedata li{margin-left:10px;}
.edata{width:100%;position:relative;}
.edataleft{float:left;width:49%;}
.edataright{float:right;width:49%;}
.edatapading{padding:10px 20px;}
.editactive{border:1px dotted grey;display:block;}
.edithover{border:1px dotted #black;background:rgba(0,0,0,.2);}
.edithoverActive{border:2px solid #92C1D3;background:#F2FBFF;}
.eeClick, .eeClickEdit{cursor:pointer;border:2px solid #92C1D3;background:#F2FBFF;position:absolute;margin:-26px 0 0 -9px;padding:2px 7px 3px 5px;color:#D02B2B;font-weight:bold;z-index:50;font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif;}
.eeClick img{position:relative;top:2px;z-index:99;}
.eeClick span{position:relative;top:-2px;z-index:99;}
.eeClickEdit img{position:relative;top:2px;z-index:10000;}
.eeClickEdit span{position:relative;top:-2px;z-index:10000;}
.eeClickEdit div{display:inline;}

/*=====================================================================================================*/

#simplemodal-container{position:relative;}
#simplemodal-container a{color:#ddd;}
#simplemodal-container a.modalCloseImg{background:url(img/x.png) no-repeat;width:25px;height:29px;display:inline;z-index:3200;position:absolute;top:-23px;right:-24px;cursor:pointer;}

/*=====================================================================================================*/

#fileSystem{border:2px solid #92C1D3;background:#F5FBFE;position:relative;}
#filePanel{background:#92C1D3;color:#fff;padding:5px 5px 0 5px;height:29px;overflow:hidden;}
.fileSystemWrap{min-height:200px;}
#fileSystem #dir-files{width:100%;background:#fff;}
#fileSystem #dir-files th{padding:2px 3px;color:#000;background:#C9E0E9;}
#fileSystem #dir-files td{padding:1px;}
#fileSystem ul{list-style-type:none;margin:0;padding:0;}
#fileSystem ul ul{list-style-type:none;margin:0;padding:0;min-height:20px;display:block;}
#fileSystem #dir-files li{list-style-type:none;height:20px;margin:0;clear:both;padding:3px 0 1px 26px;font-size:100%;position:relative;background:#fff;}
#fileSystem #dir-folder li img{top:3px;left:3px;}
#fileSystem #dir-files li img{position:absolute;left:3px;}
#fileSystem th{text-align:left;}
#fileSystem .size{text-align:right;}
#fileSystem th .size{text-align:center;}
#fileSystem .options{text-align:left;}
#fileSystem th .options{text-align:center;}
#fileSystem .modTime{text-align:center;}
#fileSystem #dir-files tr.stripe{background:#E4F0F4;}
#fileSystem #dir-files tr.hover{background:#C9E0E9;}
#fileSystem a{border:0;outline:0;color:#000;text-decoration:none;font-weight:bold;}
#fileSystem a img{border:0;outline:0;}
#filePanel a{color:#fff;}
#fileSystem:focus{outline:0;}
#fileSystem .dir-clear{clear:both;}
#fileSystem .pathDisplay{display:block;clear:both;font-size:11px;}
#fileSystem .none{display:none;}
#dirCreate, #uploadFile{position:absolute;top:34px;left:0;width:100%;height:0px;background:#C9E0E9;color:#000;}
#fileSystem .inner{padding:20px;}
#fileSystem form, #flashTarget{margin:15px;color:#000;}
#fileSystem fieldset{border:1px solid #000;background:#C9E0E9;}
#fileSystem legend{border:1px solid #000;margin-left:13px;padding:2px 5px;color:#000;}
#fileSystem label, #responseDir{font-weight:bold;}
#cancelDir,#cancelFile{float:right;cursor:pointer;}
#fileSystem .likeParent{font:inherit;color:inherit;text-decoration:inherit;}
#fileSystem .flash{padding:12px 25px 20px 20px;color:#F2FBFF;}
#fileSystem a.likeParent, #fileSystem a.likeParent:link, #fileSystem a.likeParent:active, #fileSystem a.likeParent:visited, #fileSystem a.likeParent:hover{font:inherit;color:#000000;text-decoration:none;}
#fileSystem .progressWrapper{width:50%;overflow:hidden;float:left;position:relative;}
#fileSystem .progressContainer{margin:5px;padding:4px;border:solid 1px #E8E8E8;background-color:#F7F7F7;overflow:hidden;width:300px;}
#fileSystem .red{border:solid 1px #B50000;background-color:#FFEBEB;}
#fileSystem .green{border:solid 1px #DDF0DD;background-color:#EBFFEB;}
#fileSystem .blue{border:solid 1px #CEE2F2;background-color:#F0F5FF;}
#fileSystem .progressName{font-size:8pt;font-weight:bold;color:#92C1D3;width:100%;height:14px;text-align:left;white-space:nowrap;overflow:hidden;}
#fileSystem .progressBarInProgress,.progressBarComplete,.progressBarError{font-size:0;width:0;height:2px;background-color:#0D820D;margin-top:2px;}
#fileSystem .progressBarComplete{width:100%;background-color:green;visibility:hidden;}
#fileSystem .progressBarError{width:100%;background-color:red;visibility:hidden;}
#fileSystem .progressBarStatus{margin-top:2px;width:315px;font-size:7pt;font-family:Verdana;text-align:left;white-space:nowrap;color:#92C1D3;}

/*=====================================================================================================*/

#fileSystem a.progressCancel, #fileSystem a.progressCancel:link, #fileSystem a.progressCancel:active, #fileSystem a.progressCancel:visited, #fileSystem a.progressCancel:hover{margin-left:285px;font-size:0;display:block;height:16px;width:16px;background-image:url(_fslib/res/cancel.png);background-repeat:no-repeat;position:absolute;}
#fslibDialog{display:none;font-size:1.1em;position:relative;}
.fslibDialog{width:300px;padding-bottom:12px;font-family:Arial, sans-serif;text-align:center;}
.fslibDialog h1{margin:0 0 15px 0;border-bottom:1px solid #001932;padding:5px 8px;font-size:140%;color:#000;text-align:left;height:auto;left:0px;}
.fslibDialog .text{display:block;min-height:35px;margin:0 0 15px 0;padding-right:8px;padding-left:50px;background-image:url(_fslib/res/dialog_choice.gif);background-repeat:no-repeat;background-position:8px 3px;text-align:left;}
.fslibDialog .inputName{display:none;margin:-20px 0 15px 50px;}
.fslibDialog button{margin:0 5px;border:3px double #FFFFFF;border-right-color:#7F7F7F;border-bottom-color:#7F7F7F;padding:0 5px;background-color:#BBBCBC;background-image:url(_fslib/res/dialog_button.gif);background-repeat:repeat-x;}