@charset "UTF-8";
/* CSS Document */

body{
    font-family: sans-serif;
    background:grey;
}
#sideBar{
    text-align:center;
    height:100%;
    padding-left:10px;
    padding-right:0;
}
.container{
    background:white;
    height:100%;
}
.wrap{
    background:grey;
    height:100%;
}
#sideBar ul{
    padding:0;
}
#sideBar ul li{
    padding:20px;
    color:white;
}
#sideBar ul li a{ 
    width:100%;
    color:white;
    padding: 20px 20px 20px 0;
}
#sideBar ul li a:hover{
    text-decoration:none;
}
#sideBar ul li:hover{
    background:#07acbb;
}
#topish{
    z-index:1;
}
.gone{
    cursor:pointer;
}