header{
    background:url(images/header.png) top center no-repeat fixed;
    background-size:cover;
    position:relative;
    z-index:2;
    height:350px;
    color:white;
}
header div.container{
    background-color: rgba(40, 50, 60, 0.6);
    width:100%;
    height:100%;
    padding:50px;
}
#Home header div.container{
    background-color: rgba(40, 50, 60, 0.6);
    width:100%;
    height:100%;
    padding:50px;
}
#Home header{
    background:url(images/header.png) top center no-repeat fixed;
    background-size:cover;
    position:relative;
    z-index:2;
    height:500px;
    color:white;
}
nav{
    background:none!important;
    position:relative;
    margin-top:-51px;
    z-index:3;
    border:none;
}
.nav > li > a:focus, .nav > li > a:hover{
    color:#28323c!important;
}
.navbar-inverse{
    border:none;
}
.navbar {
    margin-bottom:-20px;
}
.navbar ul li.active{
    background:#28323c;
}
.navbar-inverse .navbar-toggle{
    border-color:white;    
}
.navbar-brand, .navbar-nav > li > a{
    color:white!important;
}
.navbar-toggle{
    border:1px solid white;
}
.navbar-toggle span.icon-bar{
    color: #ffffff!important;
    background: white;
}
div.title.right{
    text-align:right;
}
div.title h5{
    background:#7f8c8d;
    color:white;
    padding:15px;
    letter-spacing: 2px;
    border-bottom:1px solid #7f8c8d;
    width:50%;
    text-align: center;
}
div.title hr{
    margin-top: -10px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #7f8c8d;
}
div.title.red h5{
    background-color: #9a2121!important;
    border-bottom:1px solid #9a2121!important;
}
div.title.red hr{
    border-top: 2px solid #9a2121!important;
}
div.title.green h5{
    background-color: #2fca6b!important;
    border-bottom:1px solid #2fca6b!important;
}
div.title.green hr{
    border-top: 2px solid #2fca6b!important;
}
div.title.orange h5{
    background-color: #e88017!important;
    border-bottom:1px solid #e88017!important;
}
div.post h4{
    letter-spacing: 5px;
}
div.post.orange h4 a{
    color: #e88017;
}
div.post.orange strong{
    color: black;
    letter-spacing: 3px;
}
div.title{
    font-variant: small-caps;
}
div.title.orange hr{
    border-top: 2px solid #e88017!important;
}
div.title.purple h5{
    background-color: #8d47b0!important;
    border-bottom:1px solid #8d47b0!important;
}
div.title.purple hr{
    border-top: 2px solid #8d47b0!important;
}
div.title.blue h5{
    background-color: #1c80ba!important;
    border-bottom:1px solid #1c80ba!important;
}
div.title.blue hr{
    border-top: 2px solid #1c80ba!important;
}
.center{
    position: relative;
    left: 25%;
}
.right{
    position: relative;
    left: 50%;
}
.cont{
    background-color: #28323c;
    height:100%;
    color:white;
    padding-top:100px;
    padding-bottom:65px;
}
#int .shadowBox{
    padding:80px;
}
#int .shadowBox p{
    color:black;
}
.btn{
    border-radius:0;
}
a.newbtn{
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #1c80ba;
    color:white;
    padding:10px 20px;
}
.shadowBox{
    background:#ffffff;
    box-shadow: 0px 6px 12.74px 1.26px rgba(0, 0, 0, 0.8);
    padding:40px;
    margin-bottom: 40px;
}
.shows strong{
    color: black!important;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 2px;
    font-style: italic;

}
.shows p{
    color: black!important;
}
div.img-cont div.col-md-4{
    margin-bottom:23px;   
}
.CTA{
    left:35px;
    top:40px;
}
footer{
    padding:40px 0;
}
footer ul{
    list-style:none;
}

/*====================
Media Queries
====================*/
@media (max-width:80.063em){
    /* Pixel size 1281.008px */  

}
@media (max-width:74.9375em){
    /* Pixel size 1199px */  

}
@media (max-width:64.063em){
    /* Pixel size 1281.008px */      

}
@media (max-width:61.9375em){
    /* Pixel size 991px bootstrap break point */    

}
@media (max-width:60.063em){
    /* Pixel size 961.008px */      

}
@media (max-width:54.063em){
    /* Pixel size 865.008px */      

}
@media (max-width:47.9375em){
    /* Pixel size 767px bootstrap SM Breaking point*/      

}
@media (max-width:40.063em){
    /* Pixel size 641.008px */      

}
@media (max-width:30.063em){
    /* Pixel size 481.008px */      

}
@media screen and (max-width:20em){
    /* Pixel size 320px */      

}