Options -Indexes 
<Files index.php>

order deny,allow
deny from all
##allow from 98.110.240.226
allow from localhost

</Files>

<Files form.php>

order deny,allow
deny from all
##allow from 98.110.240.226
allow from localhost

</Files>