@charset "UTF-8";

body{
    font-family: 'Lato', sans-serif;
}
li.purp{
    background:#bdbcdb;
}

nav{
    z-index:20;
}
span.top{
    font-size:24px;
    background:rgba(237,171,204,.75);
    padding:20px;
    cursor:pointer;
    position:fixed;
    left:85%;
    top:85%;
    z-index: 1000;
    display:none;
    border-radius: 3px;
    border:1px solid white;
}
.navbar-default {
    background: rgba(255, 255, 255,.9);
    border-radius: 0;
}
nav.affix{
    width:100%;
    top:15px;
}
.last{
    left:1px;
    right:0;
}
#top{
    padding:20px 0;
}
span.socials a{
    margin-left:20px;
}
.carousel{
    position:relative;
    top:-71px;
    z-index:1;
    border-bottom: 1px solid black;
    max-height: 600px;
}
.carousel img{
    max-height: 600px;
}
.carousel-control.right {
    background:none;
}
.carousel-control.left {
    background:none;
}
.fancy{
    color: #af1931;
    font-weight: 200;
    font-family: RuckSack;
}
div.form{
    text-align:center;
}
div.form div.backing{
    background:rgba(240, 178, 208, 0.75);
    padding:25px;
    margin-top:-100px;
    position:relative;
    z-index:10;
    box-shadow: 2px 2px 10px grey;
}
div.form div.backing div.inner{
    background:white;
    padding:15px 15px 30px;
}
.chat{
    position:absolute; 
    left:5px; 
    top:370px; 
    z-index:1000;
}
div.titles{
    margin-top:20px;
}
div.titles h1{
    background-color: #2e2e2e;
    width:auto;
    padding:10px;
    width:182px;
    text-align:center;
    color:white;
    margin-top:-20px;
    font-family: RuckSack;
    letter-spacing: 1px;
    font-weight: 200;
    font-size:1.1em;
    line-height: 20px;
}
div.titles hr{
    border-top:1px solid black !important;
}
div.sideBar img{
    width:152px;
}
.goog-te-gadget img {
    width:37px !important;
}
div.sideBar img{
    width:30%;
}
div.cont div.imgCont .wrap{
    border:solid 1px black;
    width:100%;
    margin-bottom:30px;
    height:113.33px;
    line-height: 100px;
    text-align:center;
    overflow: hidden !important;
}
.floater{
    width:100%;
    height:150%;
    background:rgba(240, 178, 208, 0.85);
    position:relative;
    top:-142px;
    left:0;
    z-index:400;
    display:none;
    cursor: pointer;
}
.floater span{
    color:#282166;
    position:relative;
    top:30%;
}
div.cont div.imgCont .wrap img{
   height:60%;
   vertical-align: middle;
   position: relative;
   z-index: 11;
}
div.prodImage{
    padding:25px;
    //margin-right:20px;
    border:1px solid black;
    background:white;
    height:230px;
    box-shadow: 0px 4px 5.82px 0.18px rgba(0, 0, 0, 0.35);
    text-align:center;
    overflow: hidden;
}
div.prodImage img{
    vertical-align: middle;
    position: relative;
    height:80%;
    top:10px;
}
h3.fancy a{
    color: #af1931;
}
.bads{
    width:50px;
}
.prody ul{
    margin-left:40px;
}
div.signOff{
    background-color: #bfbedc;
    width:100%;
    padding:20px 20px 35px;
    text-align:center;
}
div.signOff .fancy{
    color:black;
    letter-spacing: 1px;
    font-weight: 100;
}
div.signOff div{
    color:white;
}

footer{
    padding:50px 0;
}

footer .fancy{
    text-decoration:underline;
}

footer ul{
    list-style: none;
    padding-left:20px;
}

footer ul li a{
    color:black;
}
footer ul li a:hover{
    color:#af1931;
}
.down{
    position:relative;
    top:35px;
}

#survey b{
    color: #af1931;
}

/*=====================
	Mobile Styles
=====================*/	
.well{
    //padding:0;
}
.cleared{
    display:none;
}
.mobNav{
    display:none;
    padding-top:20px;
    float:right;
    margin-right:20px;
}

.mobNav button{
    background:none;
    border:1px solid #0c4319;
    padding:15px;
    border-radius:5px;
    color:#0c4319;
}

@media (max-width:80.063em) { 
/* Breaking Point for 1199px */ 	
    
}
@media (max-width:74.96875em) { 
/* hi-res laptops and desktops  1198 */ 	
.mob#top{
    display:none;
}
nav{
    margin-top:40px;
}   
div.chat{
    top:280px;
    }      
}
@media (max-width:72.063em) { 
/* hi-res laptops and desktops */ 

  
}

@media (max-width:64.063em) { 
/* big landscape tablets, laptops, and desktops */ 

								  
}
@media (max-width:61.9375em) { 
/* Break point or 991px */
body{
    padding:0;
    margin:0;
    }    
.nav > li > a{
    padding-left:7px;
    padding-right:7px;
}
.mob{
    display:none;
}  
.cleared{
    display:block;
    }    
    
}
@media (max-width:60.063em) { 
/* tablet, landscape iPad, lo-res laptops ands desktops */ 

	
}
@media (max-width:54.063em) { 
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
				

}
@media (max-width:47.9375em) {
/* Breking point for 767px */ 

.container>.navbar-collapse, .container>.navbar-header {
    margin-right:0;
    }    
    
.mob{
    display:none;
}
nav ul.pull-right{
    float:none !important;
    text-align: center;
    padding-top: 40px;
}     
footer ul{
    padding:20px 0;
    }  
li.dropdown ul.pull-right{
    padding:0;
    text-align:left;
    }    
    
}
@media (max-width:40.063em) {
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

    
}
@media (max-width:35em) {
/*Breaking point for 600px */ 
     

}
@media (max-width:33.75em) {
/*Breaking point for 540px */  
    
    
}
@media (max-width:30.063em) { 
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

    
}
@media screen and (max-width:28.75em) { 
/* Breaking point 460px */

    
}
@media screen and (max-width:20em) { 
/* smartphones, iPhone, portrait 480x320 phones */
    .container{
    padding:0;
}    
    
}
