.apple, .behance, .drupal, .facebook, .instagram, .linkedin, .pinterest, .rss, .skype, .soundcloud, .tumblr, .twitter, .vimeo, .wordpress, .youtube, .logo{
	background: url(../images/sprites.png) no-repeat;
}

.apple{
	background-position: -49px -50px ;
	width: 24px;
	height: 24px;
}

.behance{
	background-position: 0 -51px ;
	width: 24px;
	height: 24px;
}

.drupal{
	background-position: -594px -2px ;
	width: 24px;
	height: 24px;
}

.facebook{
	background-position: -549px -1px ;
	width: 24px;
	height: 24px;
}

.instagram{
	background-position: -498px -2px ;
	width: 24px;
	height: 24px;
}

.linkedin{
	background-position: -452px -1px ;
	width: 24px;
	height: 24px;
}

.pinterest{
	background-position: -400px 0;
	width: 24px;
	height: 24px;
}

.rss{
	background-position: -348px -2px ;
	width: 24px;
	height: 24px;
}

.skype{
	background-position: -298px 0;
	width: 24px;
	height: 24px;
}

.soundcloud{
	background-position: -247px -2px ;
	width: 24px;
	height: 24px;
}

.tumblr{
	background-position: -200px 0;
	width: 24px;
	height: 24px;
}

.twitter{
	background-position: -149px -2px ;
	width: 24px;
	height: 24px;
}

.vimeo{
	background-position: -100px -2px ;
	width: 24px;
	height: 24px;
}

.wordpress{
	background-position: -49px -2px ;
	width: 24px;
	height: 24px;
}

.youtube{
	background-position: -1px -1px ;
	width: 24px;
	height: 24px;
}

.logo{
	background-position: -86px -37px ;
	width: 242px;
	height: 195px;
}

